---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/core.css">
    <script src="../assets/js/script.js" defer></script>
</head>
<body>  
    {% include navigation.html %}
        {{content}}
    <div class="container">
        <a href="../regex.html" style="padding: 1rem; background-color: #24242450; border-radius: 10px; color: rgb(26, 26, 26);">go back</a>
    </div>
</body>
</html>